<form method="post" action="/saved_bookmark">
  <input type="text" placeholder="title" name="title">
  <input type="text" placeholder="url" name="url">
  <input type="submit" name="Save" value="Submit">
</form>
