<p> Bookmark page </p>
<p> www.bookmark.com </p>

<form method="get" action="/bookmarks">
  <input type="submit" name="Add" value="Show">
</form>

<form method="get" action="/add_bookmarks">
  <input type="submit" name="Add" value="Add">
</form>
